<html>

<link rel='stylesheet' href='/css/styles.css'>

<body  id='landing'>

<h1 class='warn'>You wanna play some HangMan!</h1>

<H2 class='warn'>Please verify that you are at least 18 years of age to continue.</H2>



<h3>

	<table class='landing_table'>

		<tr>

			<td class ='link_size'><a href='/welcome'>YES</a></td>

			<td class='link_size'><a href='http://www.disneychannel.disney.com'>NO</a></td>

		</tr>

	</table>



</h3>

</body>

</html>