<center><h1>Welcome to HangMan</h1>



<h3>What is your name, player 1?</h3>

<form method="post" action="/player">

	<input type="text" name="p1_name_input">



<h3>What is your name, player 2?</h3>

	<input type="text" name="p2_name_input">

	<input type='submit' value='push it'>

</form></center>