<h2><%=player2%> please enter the secret word</h2>



<form method = 'post' action = 'secret_word'>
<input type = 'password' name = 'secret_word'>
<input type = 'hidden' name = 'p2_name_input' value = '<%=player2%>'>
<input type = 'hidden' name = 'p1_name_input' value = '<%=player1%>'>
<input type = 'submit'>

</form>